.kuva {
    width: 200px;
    height: auto;
    margin-top: 20px;
}
body {
    background-color: rgb(218, 36, 96);
}
a {
    color: rgb(1, 41, 1);
}
a:hover {
    background-color: black; 
    color: rgb(255, 123, 0);             
    text-decoration-line: underline;
    text-decoration-style: double;
}
p {
    font-family:Helvetica;
}
h1 {
    font-family:Helvetica;
    font-size: xxx-large;
    font-weight: bold;
}
li {
    margin-bottom: 9px; 
}
.viher{
    color: rgb(1, 41, 1);
;
}
.salainen {
    background-color: rgb(1, 41, 1); 
    color: rgb(1, 41, 1);
}

.salainen:hover {
    background-color: black; 
    color: rgb(255, 123, 0);             
}
#container {
    width: 60%;
    display: flex;
    flex-direction: row;      
    justify-content: space-between;
}
#container > * {
    background-color: rgb(85, 194, 85); 
    width: 60%;
}